junk_tests.py
perf_test.py
_files_db.sqlite
*.pyc
*.profile
*.db
*.sqlite3
*.txt
*.log
*.json
*.csv
*_config.py
__pycache__/*
myvenv/*
static/*
test_folder/*
output/*
dataset*/
test_files*/*
.DS_Store
/*.jpg
/out*.*
